@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

*{
    color: #fff;
    margin: 0;
    padding: 0;
}
.Home{
    background-color: black;
    display: flex;
    height: 100vh;
}
nav{
    background-color: rgb(59, 59, 59);
    width: 300px;
    height: 100vh;
    font-family: 'Oxygen', sans-serif;
    transition: all ease 0.5s;
    transform: translate(0,0);
}
.closebtn{
    display: none;
    text-align: right;
}
#close{
 width: 30px;
 height: 30px;
background-color: rgb(59, 59, 59);
border: 1px orange solid;
border-radius:10px ;
}
#close i{
    color: orange;
}
.A-me{
    background-color: black;
    width: 90vw;
    /* display: flex; */
    
}
.site-name{
    padding: 20px;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
   
}
.site-name h1{
    border-left: 5px orange solid;
    border-right: 5px orange solid;
}
nav ul{
    
}
nav ul li a{
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
    transition: all ease .4s;
}
nav ul li a:hover{
    color: orange;
}
nav ul li{
   padding: 30px;
}
/* nav ul li a:hover{
    background-color: yellow;
} */
.A-me-contant{
    display: flex;
    width: 90%;
    /* background-color: pink; */
    height: 58vh;
    margin: auto;
    justify-content: space-around;
     margin-top: 96px;
}
.pic-of-me img{
    height: 58vh;
}
.hello{
    font-size: 60px;
    font-family: 'Source Code Pro', monospace;
}
.name{
    font-size:40px;
    color: orange;

}
.who{
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
}
.tareef{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.A-me-contant-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cv{
    margin-top: 20px;
    padding:10px;
    background-color: orange;
    border-radius: 20px;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    border: 2px orange solid;
    transition: all ease .5s;
    cursor: pointer;
    width: 40%;
}
.cv:hover{
    background-color: rgb(59, 59, 59);
    /* color: orange; */
}

#btn{
    display: none;
    width: 50px;
    height: 50px;
    background-color: rgb(59, 59, 59);
    /* border: 2px orange solid; */
    border-radius: 10px;
}
#btn i{
    color: orange;
    font-size: 25px;
}

/* for responsive */
@media (max-width:981px) {
    *{
        /* background-color: black; */
    }
    
    .sidebar{
        position: absolute;
        transform: translate(-337px, 10px);

    }
    .closebtn{
        display: block;
    }
    .A-me{
       background-color: black;
    }
    #btn{
        display: block;
        margin-left:5px ;
    }
    
}
@media (max-width:728px){
    .hello{
        font-size: 40px;
    }
    .name{
        font-size: 30px;

    }
    .who{
        font-size:15px ;
    }
    .tareef{
        font-size: 14px;
    }
    .cv{
        font-size: 12px;
    }
}
@media (max-width:552px) {
  .A-me-contant{
    display: block;
  }
  .pic-of-me{
    display: none;
  }
}