@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

*{
    color: #fff;
    margin: 0;
    padding: 0;
    
}
.container{
    margin: 0;
    padding: 0;
  
}
.Home{
    background-color: black;
    display: flex;
    height: 100%;
}
/* Nevigation Bar Here ---------- */
nav{
    /* display: fixed; */
    position: fixed;
    background-color: rgb(59, 59, 59);
    width: 300px;
    height: 100%;
    font-family: 'Oxygen', sans-serif;
    transition: all ease 0.5s;
    transform: translate(0px,0px);
}
.closebtn{
    display: none;
    text-align: right;
}
#close{
 width: 30px;
 height: 30px;
background-color: rgb(59, 59, 59);
border: 1px orange solid;
border-radius:10px ;
}
#close i{
    color: orange;
}
.site-name{
    padding: 20px;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    
}
.site-name h1{
    border-left: 5px orange solid;
    border-right: 5px orange solid;
}
nav ul{
    
}
nav ul li a{
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
    transition: all ease .4s;
}
nav ul li a:hover{
    color: orange;
}
nav ul li{
    padding: 30px;
}
/* nav ul li a:hover{
    background-color: yellow;
} */
/* Nevigaiton end here -------- */

/* home section  start here ----- */
.A-me{
    background-color: black;
    width: 100vw;
    /* display: flex; */
    height: 100vh;
    margin-left: 300px;
}
.A-me-contant{
    display: flex;
    width: 90%;
    /* background-color: pink; */
    height: 58vh;
    margin: auto;
    justify-content: space-around;
     margin-top: 96px;
     
}

.pic-of-me img{
    height: 58vh;
}
.hello{
    font-size: 60px;
    font-family: 'Source Code Pro', monospace;
}
.name{
    font-size:40px;
    color: orange;

}
.who{
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
}
.tareef{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.A-me-contant-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.cv{
    margin-top: 20px;
    padding:10px;
    background-color: orange;
    border-radius: 20px;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    border: 2px orange solid;
    transition: all ease .5s;
    cursor: pointer;
    width: 40%;
}
.cv:hover{
    background-color: rgb(59, 59, 59);
    /* color: orange; */
}

#btn{
    display: none;
    width: 50px;
    height: 50px;
    background-color: rgb(59, 59, 59);
    /* border: 2px orange solid; */
    border-radius: 10px;
}
#btn i{
    color: orange;
    font-size: 25px;
}
/* End Home section here ------ */
/* About section start here---- */
.about{
   /* background-color: red; */
   width: 100%;
   padding: 20px;
   margin-left: 300px;
  
}
.page-header{
    padding: 36px;
}
.page-header h1{
    font-size: 2.9rem;
}
#hr1{
    width: 8%;
    padding: 3px;
    background-color: orange;
    border: none;
}
#hr2{
    margin-top: 5px;
    width: 4%;
    padding: 3px;
    background-color: orange;
    border: none;
}
#about-name{
    font-size: 1.9rem;
}
#web b{
    color: orange;
}
#intro{
    font-size: 1.3rem;
}
.about-me{
    display: flex;
   font-size: 1.1rem;
   /* border: 2px green solid; */
   justify-content: space-between;
   width: 70%;
}
.about-me-item{
    text-align: left;
    padding: 20px;
    border-bottom: 1px white solid;
    width: 40%;
}
.about-me ul li{
    padding: 20px;
    font-size: 28px;
   list-style: none;
   text-align: center;
}

.about-me ul li::before{
    
    
    content:  "•";
    color: orange;
    margin-right: 30px; 
    font-size: 50px; 
}
.skills-here{
   justify-content: space-evenly;
}
.school{
    padding: 30px;
}
.college{
    font-size: 1.9rem;
    margin-bottom: 53px;
}
.college::before{
    content:  "•";
    color: orange;
    margin-right: 30px; 
}
#digree-name{
    margin-left: 50px;
    font-size: 18px;
    
}
#digree-name a{
    text-decoration:  none;
    padding: 10px;
    border: 2px orange solid;
    color: orange;
    transition: all ease .5s;
}
#digree-name a:hover{
    background-color: rgb(59, 59, 59);
    /* background-color: orange;
    color: white; */
}
/* about section end here */
/* project section start here---- */
.project-container{
    border: 2px orange solid;
    width: fit-content;
    border-radius: 20px;
}
.project-container-item img{
    width: 250px;
    height: 220px;
}
.project-container-item{
    padding: 28px;
}
.project-links{
margin-top: 10px;
}
.project-name {
    text-align: center;
}
.project-name h1{
    color: orange;
}
#p-link{
    font-size: 18px;
    margin-bottom: 20px;
}
.link{
    padding: 5px;
    text-decoration: none;
    color: orange;
    }
.link:hover{
    text-decoration: underline;
}
#link1{
    margin-left: 10px;
}
#link2{
    margin-left: 44px;
}
.forhieght{
    height: 100vh;
}
.waring{
    text-align: center;
}
/* contact section start here */
.contact-container-item img{
    width: 100px;
    height: 100px;
}
.contact-container-item{
   text-align: center;
}
.contact-container{
    display: flex;
    justify-content: space-around;
}
/* for responsive */
@media (max-width:981px) {
    *{
        /* background-color: black; */
    }
    
    .sidebar{
        position: absolute;
        transform: translate(-337px, 10px);

    }
    .closebtn{
        display: block;
    }
    .A-me{
       background-color: black;
       margin-left: 0;
    }
    #btn{
        display: block;
        margin-left:5px ;
    }
    .about{
        margin: 0;
    }
}
@media (max-width:728px){
    .hello{
        font-size: 40px;
    }
    .name{
        font-size: 30px;

    }
    .who{
        font-size:15px ;
    }
    .tareef{
        font-size: 14px;
    }
    .cv{
        font-size: 12px;
    }

    .about-me-item{
        padding: 10px;

    }
    .about{
        padding: 5px;
    }
}
@media (max-width:552px) {
  .A-me-contant{
    display: block;
  }
  .pic-of-me{
    display: none;
  }
  .about-me-item{
    padding: 5px;
    font-size: 12px;
    width: 60%;
  }
  #intro{
    font-size: 1.1rem;
  }
  .about-me ul li{
    padding: 10px;
    font-size: 18px;
  }
  .college{
    font-size: 1.2rem;
  }
  #digree-name{
    
    font-size: 16px;
  }
  #digree-name a{
    padding: 5px;
  }
  .about-me ul li::before{
   display: none;
  }
  .about-me ul li{
    
  }
}
